* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: rgb(74, 73, 73);
}

.container {
    width: 45%;
    background-color: rgb(116, 116, 140) ;
    padding: 40px 30px;
    position: absolute;
    top: 10%;
    left: 27%;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
}

.scores {
    margin-bottom: 50px;
    text-align: right;
}

.weapons {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.weapons button {
    background-color:pink;
    border: none;
    font-size: 90px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.details {
    margin-top: 50px;
    text-align: center;
}

.scores,
.details {
    font-family: sans-serif;
    font-weight: 550;
    font-size: 15px;
}

#result {
    width: 180px;
    padding: 10px 0;
    margin: 30px auto;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#user-choice,
#computer-choice {
    font-weight: 400;
    margin-bottom: 10px;
}